.card-img-top {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.tarjeta{
    cursor:pointer;
}
.check{
    margin-left:20px!important;
}
.modal-body{
    overflow-y:auto;
}
.modal-dialog{
    overflow-y: initial!important;
}
#imagenPelicula img{
    width:100%;
}
.footer-copyright{
    margin-right:20px;
}
.footer-copyright a{
    color:rgb(83, 190, 209);
}