.card-img-top {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.tarjeta{
    cursor:pointer;
}
.checks{
    margin-left:20px;
}
.modal-body{
    overflow-y:auto;
    height:70vh;
}
.modal-dialog{
    overflow-y: initial!important;
}